.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Dosis, sans-serif;
  }

#main {
flex: 1 0 auto;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.loading-text {
    font-size: 4rem;
    font-family: Dosis,sans-serif;
    transition:all 1s;
}

.loading-text span{
    color: #555555;
    animation-name: loading_words;
    animation-duration:0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}

.loading-text span:nth-child(odd){
    color: #006eff;
    animation-name: loading_words;
    animation-duration:0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-delay: 0s;
}

@keyframes loading_words{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

.brand-logo-s {
    width: 60px;
    height: 60px;
    margin:0 10px 5px 30px;
    padding-bottom: 10px;
    vertical-align: middle;
    align-self: center;
    transition: all .5s;
}

.nav-bar-site-logo {
    animation-duration: 2s;
    animation-name: logo-anim;
    animation-delay: 0s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}

@keyframes logo-anim {
    0%{
        transform: scale(1,1) rotate3d(0);
        
    }100%{
        transform: scale(0.9,0.9) rotate3d(1, 0, 0, 180deg);
    }
}

.home-hero {
    font-family: Dosis, sans-serif;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
}

.carousel-wrapper {
    width:100%;
    padding:2% 20%;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.nav-bar-site-logo::before {
    margin:0;
    padding:0px;
}

#logo-container {
    margin:0 !important;
    padding:0 !important;
    width:310px;
}

.listing-hero-text h3 {
    font-family: Dosis,sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 4rem !important;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.nav-bar-site-text {
    width:240px;
    height:64px;
    font-family: Dosis, sans-serif;
    letter-spacing: 3px;
    justify-self: center;
    margin:7px 0 0 10px !important;
    text-align: center;
}

.waves-effect .waves-dark .waves-ripple {
    background-color: rgb(255, 0, 0);
}

.footer-made-by {
    font-family: Dosis;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.footer-made-by a {
    text-decoration: none;
    color:red;

}

.transition-1 {
    transition:all 1s;
}

.transition-2 {
    transition:all 2s;
}

.bg-blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.full-width {
    width:100%;
    height:100%;
}

.user-dashboard-img {
    width:100%;
    position: relative;
}

.user-dashboard-img .full-width{
    width:120%;
    z-index: 1;
    position:relative;
    align-self: center;
    text-align: center;
    justify-self: center;
}

.user-dashboard-img a img{
    position: absolute;
    width:60%;
    z-index: 5;
    position: absolute;
    top:40px;
    left:40px;  
}

.admin_nav li {
    display: block;
    text-align: left;
    padding-left: 10px;  
}

.admin_nav .list-block{
    height: 50px;  
}

.admin_nav li:hover {
    background: #55555544;
}

.scroll-table-y{
    scroll-behavior: smooth;
    overflow-y: scroll;
    height:85vh;
}

.dosis {
    font-family: 'Dosis',sans-serif !important;
}