/*************
Author: Smit Patel
Deliverable 1 - custom.css
October 2, 2018
WEBD3201
**************/
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

body {
  display: block;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Dosis, sans-serif;
  overflow-x: hidden;
}

#main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.preloader-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eee;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading-text {
  font-size: 4rem;
  font-family: Dosis,sans-serif;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.loading-text span {
  color: #555555;
  -webkit-animation-name: loading_words;
          animation-name: loading_words;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loading-text span:nth-child(odd) {
  color: #008b9e;
  -webkit-animation-name: loading_words;
          animation-name: loading_words;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes loading_words {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes loading_words {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.brand-logo-s {
  width: 60px;
  height: 60px;
  margin: 0 10px 5px 30px;
  padding-bottom: 10px;
  vertical-align: middle;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav-bar-site-logo {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: logo-anim;
          animation-name: logo-anim;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes logo-anim {
  0% {
    -webkit-transform: scale(1, 1) rotate3d(0);
            transform: scale(1, 1) rotate3d(0);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9) rotate3d(1, 0, 0, 180deg);
            transform: scale(0.9, 0.9) rotate3d(1, 0, 0, 180deg);
  }
}

@keyframes logo-anim {
  0% {
    -webkit-transform: scale(1, 1) rotate3d(0);
            transform: scale(1, 1) rotate3d(0);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9) rotate3d(1, 0, 0, 180deg);
            transform: scale(0.9, 0.9) rotate3d(1, 0, 0, 180deg);
  }
}

#nav-mobile li:hover {
  background: white;
  color: #008b9e;
  -webkit-transition: background 1s;
  transition: background 1s;
  border-radius: 10px;
}

.nav_bar {
  width: 100%;
  overflow: hidden;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #00e0fe), color-stop(61%, #008b9e));
  background: linear-gradient(to right, #00e0fe 1%, #008b9e 61%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0fe', endColorstr='#008b9e',GradientType=1 );
  /* IE6-9 */
  background-size: 200%;
  height: 4em;
}

.nav_active {
  /* background: rgb(255, 255, 255); */
  -webkit-transition: background 1s;
  transition: background 1s;
  border-radius: 10px;
  color: #ffffff;
  margin-top: 1px;
  border: 2px inset #fff;
  letter-spacing: 1px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.home-hero {
  font-family: Dosis, sans-serif;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
}

.carousel-wrapper {
  width: 100vw;
  padding: 2% 20%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  overflow: hidden;
}

.nav-bar-site-logo::before {
  margin: 0;
  padding: 0px;
}

#logo-container {
  margin: 0 !important;
  padding: 0 !important;
  width: 310px;
}

.listing-hero-text h3 {
  font-family: Dosis,sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem !important;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 5px;
  /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.nav-bar-site-text {
  width: 240px;
  height: 64px;
  font-family: Dosis, sans-serif;
  letter-spacing: 3px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 7px 0 0 10px !important;
  text-align: center;
}

.waves-effect .waves-dark .waves-ripple {
  background-color: red;
}

.footer-made-by {
  font-family: Dosis;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.footer-made-by a {
  text-decoration: none;
  color: white;
}

.transition-1 {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.transition-2 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.bg-blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.full-width {
  width: 100%;
  height: 100%;
}

/***************************************************************************/
.full-width:hover {
  -webkit-transform: scale(1.3, 1.1);
          transform: scale(1.3, 1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.dashboard_panel {
  display: block;
  background: url("../assets/bg/bg_dashboard.svg") no-repeat border-box center;
  background-size: 200%;
  -webkit-box-shadow: 0px 10px 40px 2px #00000063;
          box-shadow: 0px 10px 40px 2px #00000063;
  position: relative;
  width: 100%;
  height: 7em;
  padding: 0 0.2em;
}

.dashboard_panel ul {
  margin: 0;
  padding: 1em;
  display: block;
  height: 100%;
  width: 100%;
}

.dashboard_panel ul li:nth-child(1) {
  margin: 5px;
  background: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  padding: 0 5px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 100%;
  float: left;
  background: rgba(255, 255, 255, 0);
  display: inline-flex;
}

.dashboard_panel ul li:nth-child(1) a img {
  position: relative;
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.dashboard_panel ul li:nth-child(n+2) {
  float: right;
  margin: 5px;
  border: 2px solid #fff;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  padding: 0 5px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.dashboard_panel ul li:nth-child(n+2):hover {
  background: #fff;
  color: #008b9e;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.dashboard_panel ul li:nth-child(n+2) a {
  text-align: center;
  padding: 25px 2vw;
  display: block;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.dashboard_panel ul li:nth-child(n+2) a:hover {
  color: #008b9e;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.dashboard_panel ul li:nth-child(n+2) a i, .dashboard_panel ul li:nth-child(n+2) a p {
  display: inline-block;
}

.scroll-table-y {
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 55vh;
}

.dosis {
  font-family: 'Dosis',sans-serif !important;
}

.dashdoard_container {
  height: 80vh;
}

.scroll_bar_hide {
  scroll-behavior: smooth;
  width: 102%;
}

/*********************************************************************/
.home_hero {
  width: 100%;
  height: 110vh;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 99%, 0 88%);
  clip-path: polygon(0 0, 100% 0%, 100% 99%, 0 88%);
}

.home_hero img {
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-animation: scale-1 4s ease-in-out forwards 0s;
          animation: scale-1 4s ease-in-out forwards 0s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -50;
  overflow: hidden;
}

@-webkit-keyframes scale-1 {
  0% {
    -webkit-transform: scale(2.4, 2);
            transform: scale(2.4, 2);
  }
  100% {
    -webkit-transform: scale(2, 1.8);
            transform: scale(2, 1.8);
  }
}

@keyframes scale-1 {
  0% {
    -webkit-transform: scale(2.4, 2);
            transform: scale(2.4, 2);
  }
  100% {
    -webkit-transform: scale(2, 1.8);
            transform: scale(2, 1.8);
  }
}

.home_hero h1 {
  padding-top: 160px;
  margin: 0;
  font-size: 5rem;
}

.home_hero p {
  padding: 2vw 15vw;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.slides_home {
  width: 100vw;
  position: relative;
  height: 100vh;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transform: translateY(-40vw);
          transform: translateY(-40vw);
  z-index: -20;
  margin-bottom: -3vh;
  -webkit-animation: scale-1 1s ease-in-out forwards 1;
          animation: scale-1 1s ease-in-out forwards 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.slides_home img {
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-animation: scale-2 4s ease-in-out forwards 0s;
          animation: scale-2 4s ease-in-out forwards 0s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -50;
  overflow: hidden;
}

@-webkit-keyframes scale-2 {
  0% {
    -webkit-transform: scale(1.2, 1.1);
            transform: scale(1.2, 1.1);
  }
  100% {
    -webkit-transform: scale(1.1, 1);
            transform: scale(1.1, 1);
  }
}

@keyframes scale-2 {
  0% {
    -webkit-transform: scale(1.2, 1.1);
            transform: scale(1.2, 1.1);
  }
  100% {
    -webkit-transform: scale(1.1, 1);
            transform: scale(1.1, 1);
  }
}

.home_btn {
  display: inline-block;
  background: #008b9e;
  color: #fff;
  border-radius: 25px;
  padding: 15px 50px;
  margin: 10px;
  font-size: 1.3rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.home_btn:hover {
  background: #00e0fe;
  color: #000000;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/**********************************************************************/
.slides_listing {
  width: 100%;
  position: relative;
  height: 20em;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transform: translateY(-3vh);
          transform: translateY(-3vh);
  z-index: -20;
  -webkit-animation: scale-1 1s ease-in-out forwards 1;
          animation: scale-1 1s ease-in-out forwards 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.slides_listing img {
  width: 60em;
  -webkit-transform: scale(1, 1.2);
          transform: scale(1, 1.2);
  height: 50em;
  overflow: hidden;
  margin-top: -10em;
}

.slides_listing img {
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
}

/*****************************************************************/
.primary {
  background: #00e0fe !important;
}

.secondry {
  background: #008b9e !important;
}

.filters_listing {
  position: relative;
  margin: 8em 2em 2em 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  padding: 5em 0 0 0;
}

.dashboard_loader {
  background: #fff;
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-bottom: 100vh;
}

.dashboard_loader .dashboard_loader_1 {
  position: absolute;
  background: #fff;
  left: 50%;
  top: 20%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -75px 0 0 -75px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #008b9e;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=custom.css.map */